@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsla(257, 40%, 49%);
    background-image: url('./images/bg-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.logo{
    width: 18%;
    margin-left: 5%;
    margin-block: 20px 50px;
}

.box{
    width: 90%;
    margin-inline: auto;
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

 img{
    width: 100%;
}

.screens{
    width: 70%;
}

.content{
    width: 40%;
    color: white;
    margin-top: 50px;
}
h1{
    font-family: Poppins;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 20px;
}
p{
    font-size: 13px;
    margin-bottom: 20px;
    line-height: 1.5;
    font-family: 'Open Sans';
    font-weight: 400;
}

button{
    width: 35%;
    padding: 10px 20px;
    border-radius: 50px;
    color: hsl(257, 40%, 49%);
    background: white;
    box-shadow: 0px 4px 4px  rgba(0,0,0,.2);
    border: none;
}

.socials{
    display: flex;
    gap: 20px;
    justify-content: right;
    width: 90%;
    margin-inline: auto;
    margin-block: 30px;
}

.icon-box{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-brands{
    color: white;
}

      .attribution {
        font-size: 11px;
        text-align: center;
      }
      .attribution a {
        color: white;
      }


     @media (max-width:767px) {
        body{
            background-image: url('./images/bg-mobile.svg');
            background-repeat: no-repeat;
            background-size: cover;
        }
        .parent{
            display: flex;
            flex-direction: column;
        }
        .logo{
            width: 30%;
            margin-left: 30px;
            margin-top: 30px;
        }
        .box{
            width: 85%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .content{
            text-align: center;
            margin-top: 30px;
        }
        h1{
            font-size: 28px;
        }
        p{
            font-size: 17px;
        }
        button{
            width: 65%;
        }

        .socials{
            justify-content: center;
            margin-top: 50px;
        }
     }